{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="shortcut icon"
      href="{% static 'logo.png' %}"
      type="image/x-icon"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
      {% block head %} {% endblock %}
  </head>

  <body class="bg-[#0b0c14] text-white">

  </body>
</html>